
.timeline {
	position: relative;
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
	&::after {
		content: '';
		position: absolute;
		width: 6px;
		background-color: white;
		background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -3px;
	}
	
	.timeline-content {
		padding: 10px 40px;
		position: relative;
		background-color: inherit;
		width: 50%;
		display: flex;
		align-items: center;
	}
	
	.timeline-content::after {
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		right: -12px;
		background-color: white;
		border: 4px solid rgb(255,80,80);
		border-radius: 50%;
		z-index: 1;
	}
	
	.left {
		left: 0;
	}
	
	.right {
		left: 50%;
	}
	
	.left::before {
		content: " ";
		height: 0;
		position: absolute;
		width: 0;
		z-index: 1;
		right: 30px;
		border: medium solid white;
		border-width: 10px 0 10px 10px;
		border-color: transparent transparent transparent white;
	}
	
	.right::before {
		content: " ";
		height: 0;
		position: absolute;
		width: 0;
		z-index: 1;
		left: 30px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}
	
	.right::after {
		left: -12px;
	}
	
	.content {
		padding: 20px 30px;
		background-color: white;
		position: relative;
		width: 100%;
		border-radius: 6px;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		transition: box-shadow .3s ease-in-out;
		p {
			margin-bottom: 0;
		}
	}
	
	@media screen and (max-width: 767px) {
		.prepare-block {
			display: block;
		}
		.content {
			padding: 20px;
		}
	}


	@media screen and (max-width: 575px) {
		&::after {
			left: 31px;
		}
		
		.timeline-content {
			width: 100%;
			padding-left: 70px;
			padding-right: 25px;
		}
		
		.timeline-content::before {
			left: 60px;
			border: medium solid white;
			border-width: 10px 10px 10px 0;
			border-color: transparent white transparent transparent;
		}
	
		.left::after, .right::after {
			left: 18px;
		}
		
		.right {
			left: 0%;
		}
	}
	// 動畫
	.timeline-content {
		&:hover {
			.content {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			}
		}
		&.aos-animate {
			&.left,
			&.right {
				&:after {
					animation: scaling .5s ease-in-out both;
				}
			}
			&.left {
				&:before,
				.content {
					animation: fade-in-left .5s ease-in-out both;
				}
			}
			&.right {
				&:before,
				.content {
					animation: fade-in-right .5s ease-in-out both;
				}
			}
			
			@media screen and (max-width: 575px) {
				&.left {
					&:before,
					.content {
						animation: fade-in-right .5s ease-in-out both;
					}
				}
			}
		}
	}
}
  
  
