@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

$colors: (
   title: #FFF,
   list-title: #FFF,
   btn-primary: #235784,
   skillsColor: #9099a0, 
   linkColor: #66cc99,
   boldColor: #4a4e51
);

$time: 0.6s;
$skill_1: 80%;
$skill_2: 90%;
$skill_3: 60%;
$skill_4: 50%;
$skill_5: 50%;
$skill_6: 80%;
$skill_7: 10%;


body {
   min-width: 320px;
   font-family: Microsoft JhengHei, 微軟正黑體, Heiti TC, Arial, Verdana;
}
img {
   pointer-events: none;
}
.wp {
   overflow: hidden;
   .bg {
      pointer-events: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background: url('../images/bg.jpeg') 
               50% 50% no-repeat;
      background-size: cover;
      animation: kenburns-top 3s ease-out both;
      transform: translateZ(0);
      will-change: transform;
   }
   .container {
      position: relative;
   }
}
.container, .container-fluid {
   position: relative;
}

.banner {
   position: relative;
   height: 100vh;
   min-height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   .scrollToID {
      position: absolute;
      bottom: 3vh;
      left: auto;
      right: auto;
      background: none;
      color: #FFF;
      border-radius: 50%;
      border: solid 2px #FFF;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      animation: fade-down 1.5s ease-in-out both infinite;
   }
}

.self {
   display: flex;
   align-items: center;
   min-height: 50vh;
   .section-title {
      color: map-get($colors, linkColor);
      text-align: left;
      text-transform: uppercase;
      font-size: 1.2em;
      margin-bottom: 20px;
      font-weight: 400;
   }
   .contact-info {
      ul {
         li {
            label {
               min-width: 80px;
            }
         }
      }
   }
   .skill-percentage {
      margin-bottom: 10px;
      position: relative;
      &::after {
         content: "";
         width: 100%;
         height: 6px;
         background: map-get($colors, boldColor);
         display: block;
         margin-top: 3px;
      }
      &::before{
         content: "";
         height: 6px;
         background: map-get($colors, linkColor);
         position: absolute;
         margin-top: 3px;
         bottom: 0;
      }
   }
   .skills {
      &.aos-animate {
         .skill-percentage {
            &:nth-child(1)::before {
               width: $skill_1;
               animation: skill_1 $time ease both;
               animation-delay: .8s;
            }
            &:nth-child(2)::before {
               width: $skill_2;
               animation: skill_2 $time ease both;
               animation-delay: .8s;
               }
            &:nth-child(3)::before {
               width: $skill_3;
               animation: skill_3 $time ease both;
               animation-delay: .8s;
            }
            &:nth-child(4)::before {
               width: $skill_4;
               animation: skill_4 $time ease both;
               animation-delay: .8s;
            }
            &:nth-child(5)::before {
               width: $skill_5;
               animation: skill_5 $time ease both;
               animation-delay: .8s;
            }
            &:nth-child(6)::before {
               width: $skill_6;
               animation: skill_6 $time ease both;
               animation-delay: .8s;
            }
            &:nth-child(7)::before {
               width: $skill_7;
               animation: skill_7 $time ease both;
               animation-delay: .8s;
            }
         }
      }
   }
    
  
   @keyframes skill_1 {
      from {
         width: 0%;
      }
      to {
         width: $skill_1;
      }
   }
   @keyframes skill_2 {
      from {
         width: 0%;
      }
      to {
         width: $skill_2;
      }
   }
   @keyframes skill_3 {
      from {
         width: 0%;
      }
      to {
         width: $skill_3;
      }
   }
   @keyframes skill_4 {
      from {
         width: 0%;
      }
      to {
         width: $skill_4;
      }
   }
   @keyframes skill_5 {
      from {
         width: 0%;
      }
      to {
         width: $skill_5;
      }
   }
   @keyframes skill_6 {
      from {
         width: 0%;
      }
      to {
         width: $skill_6;
      }
   }
   @keyframes skill_7 {
      from {
         width: 0%;
      }
      to {
         width: $skill_7;
      }
   }
}

.title {
   position: relative;
   text-align: center;
   display: inline-block;
   @media screen and (min-width: 400px) {
      min-width: 280px;
   }
   @media screen and (min-width: 576px) {
      min-width: 385px;
   }
   @media screen and (max-width: 399px) {
      min-width: 80%;
   }
   .text {
      position: relative;
      display: inline-block;
      width: 100%;
      @media screen and (max-width: 575px) {
         width: auto;
      }
   }
   span {
      display: block;
      &.cn {
         color: map-get($colors, title);
         text-shadow: 2px 2px 2px #000;
         line-height: 1.5;
         text-align: left;
         font-family: Microsoft JhengHei, 微軟正黑體, Heiti TC, Arial, Verdana;
      }
      &.en {
         font-size: 24px;
         letter-spacing: 4px;
         color: map-get($colors, title);
         text-shadow: 2px 2px 2px #000;
         text-align: right;
         font-family: 'Oswald', Microsoft JhengHei, 微軟正黑體, Heiti TC, Arial, Verdana;
         font-weight: 600;
      }
      @media screen and (max-width: 575px) {
         &.cn {
            font-size: 24px;
            text-align: center;
         }
         &.en {
            font-size: 16px;
            text-align: center;
         }
      }
   }
   p {
      position: relative;
      display: inline-block;
      color: map-get($colors, white);
      text-shadow: 1px 1px 1px #000;
      &::before {
         content:'*';
         position: absolute;
         left: -8px;
         top: 5px;
         color: #F00;
         text-shadow: none;
         font-family: Arial, Verdana;
      }
   }
   
   .lines {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      [class*="line-"] {
         position: absolute;
         background-color: map-get($colors, title);
         box-shadow: 1px 1px 0.5px #000;
         overflow: hidden;
      }
      .line-top,
      .line-bottom {
         width: 0px;
         height: 2px;
         transition: width 0.6s ease-in-out 0.3s;
         // .page-in & {
         //    width: 100%;
            // @media screen and (max-width: 575px) {
            //    width: 30px;
            // }
         // }
      }
      .line-left,
      .line-right {
         width: 2px;
         height: 0px;
         transition: height 0.6s ease-in-out 0.3s;
         // .page-in & {
         //    height: 100%;
            // @media screen and (max-width: 575px) {
            //    height: 30px;
            // }
         // }
      }
      &.aos-animate {
         .line-top,
         .line-bottom {
            width: 100%;
         }
         .line-left,
         .line-right {
            height: 100%;
         }
      }
      .line-top {
         left: 0;
         top: 0;
      }
      .line-bottom {
         right: 0;
         bottom: 0;
      }
      .line-left {
         left: 0;
         top: 0;
      }
      .line-right {
         right: 0;
         bottom: 0;
      }
   }
}
.sub-title {
   text-align: center;
   color: #FFF;
   text-shadow: 1px 1px 2px #000;
   span {
      &.en {
         font-size: 18px;
      }
   }
}
.title-underline {
   position: relative;
   display: inline-block;
   vertical-align: baseline;
   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 1px;
      background-color: #fff;
      transition: width .5s ease-in-out;
   }
   &:hover {
      &::after {
         width: 100%;
      }
   }
}
.list-title {
   color: map-get($colors, list-title);
   &>* {
      font-size: 18px;
      text-shadow: 0 0 1px #000;
   }
   a {
      color: inherit;
   }
   span {
      display: inline-block;
   }
   .company {
      word-break: keep-all;
   }
   .heading2 {
      margin-bottom: 10px;
   }
   p {
      margin-bottom: 6px;
   }
}
.lists {
   padding-top: 120px;
   padding-bottom: 40px;
   .list-item {
      .card {
         height: 100%;
         justify-content: space-between;
         .card-pic {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img {
               width: auto;
               max-width: 75%;
               transition: transform 0.5s ease-in-out;
            }
         }
         .card-body{
            position: relative;
            flex: 0 0 auto;
            &::before {
               content: '';
               position: absolute;
               left: 50%;
               transform: translateX(-50%);
               top: 0;
               width: calc(100% - 50px);
               height: 1px;
               border-top: dashed 1px #ddd;
            }
            .card-title {
               transition: color 0.5s ease-in-out;
            }
         }
      }
      &:hover {
         .card {
            .card-pic {
               img {
                  transform: scale(1.1);
               }
            }
            .card-body {
               .card-title { 
                  color: map-get($colors, linkColor);
                  text-shadow: 0px 0px 1px map-get($colors, white);
               }
            }
         }
      }
   }
}

@media screen and (max-width: 575px) {
   .list-title, 
   .lists .list-item .card {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
   }
}

.btn-primary {
   background-color: transparent;
   color: map-get($colors, btn-primary);
   border-color: map-get($colors, btn-primary);
   box-shadow: 2px 2px 2px map-get($colors, btn-primary);
   &:hover {
      box-shadow: 0px 0px 0px map-get($colors, btn-primary);
      background-color: map-get($colors, btn-primary);
      border-color: map-get($colors, btn-primary);
   }
}

.scrollTop {
   margin: 0 auto 50px auto;
   display: block;
   cursor: pointer;
   background: none;
   border: 0;
   box-shadow: none;
   color: #FFF;
   border: solid 2px #FFF;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: transform .4s ease-in-out;
   &:hover {
      transform: scale(1.2);
      i[class*="-icons"] {
         animation: slide-in-blurred-bottom .6s ease-in-out both;
      }
   }
   &:focus {
      outline: none;
   }
}

// ================ Keyframe ================
@keyframes kenburns-top {
   0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
   }
   100% {
      transform: scale(1.15) translateY(-15px);
      transform-origin: top;
   }
}


@keyframes slide-in-blurred-bottom {
   0% {
      transform: translateY(50px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 100%;
      filter: blur(40px);
      opacity: 0;
   }
   100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
   }
}