script(src="../../../assets/scripts/jquery.min.js")
script(src="../../../assets/scripts/popper.min.js")
script(src="../../../assets/scripts/bootstrap.min.js")
script(src="../../../assets/scripts/jquery.easing.js")
script(src="../../../assets/scripts/jquery.easing.compatibility.js")
script(src="../../../assets/scripts/aos.js")
script(src="../../../assets/scripts/imgLiquid-min.js")

script(src="../../../assets/scripts/main-dist.js")