<!DOCTYPE html>
html(lang="en")
    head
        // meta link title
        include ../include/_head-title.pug

    body#home
       

        main.wp(data-page="index")
            .bg
            .container
                section.banner
                    .title.mt-5.mb-5.px-sm-5.px-4.py-sm-3.py-2
                        h1.heading1.text
                            span.cn.text-center(data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200") 羅仕林
                            span.en.text-center(data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200") Eden
                        .lines(data-aos)
                            .line-top
                            .line-bottom
                            .line-left
                            .line-right
                    button.scrollToID(type="button" data-target="#scroll_1")
                        i.material-icons keyboard_arrow_down
            
            
            
            
            
            #scroll_1
            .container-fluid.p-0(style="background: rgba(61,62,66,0.95);")
                section.self.text-light.py-5
                    .container
                        .row
                            .contact-info.col-lg-6.col-12.my-3(data-aos="fade-right" data-aos-duration="800")
                                .section-title CONTACT
                                img.rounded.float-sm-left.mr-2.mb-3(src="../../../upload/f2e/photo/photo.jpg" width="140" alt="...")
                                ul.list-unstyled
                                    li.row
                                        label.col-auto.font-weight-bold Name
                                        span.col-auto.text-light 羅仕林 / Eden
                                    li.row
                                        label.col-auto.font-weight-bold Birth
                                        span.col-auto.text-light 1993
                                    li.row
                                        label.col-auto.font-weight-bold Phone
                                        a.col-auto.text-light(href="tel:0910412606") 0910-412-606
                                    li.row
                                        label.col-auto.font-weight-bold Email
                                        a.col-auto.text-light(href="mailto:a25814740@gmail.com") a25814740@gmail.com
                                    li.row
                                        label.col-auto.font-weight-bold Home
                                        span.col-auto.text-light Taichung, Taiwan
                                    li.row
                                        label.col-auto.font-weight-bold Job
                                        span.col-auto.text-light Web Frontend Developer
                            .skills.col-lg-6.col-12.my-3(data-aos="fade-left" data-aos-duration="800")
                                .section-title SKILLS
                                ul.list-unstyled
                                    li.skill-percentage HTML / HTML5
                                    li.skill-percentage CSS / CSS3 / SASS / SCSS
                                    li.skill-percentage jQuery
                                    li.skill-percentage Javascript
                                    li.skill-percentage AJAX
                                    li.skill-percentage Bootstrap3 / Bootstrap4 / Bootstrap5
                                    li.skill-percentage Vue
            
            
            
            
            
            
            .container
                section.banner
                    .title.mt-5.mb-5.px-sm-5.px-4.py-sm-3.py-2
                        h1.heading1.text
                            span.cn(data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom") 羅仕林 經歷
                            span.en(data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom") Eden's Experience
                        .lines(data-aos)
                            .line-top
                            .line-bottom
                            .line-left
                            .line-right
                    button.scrollToID(type="button" data-target="#scroll_2")
                        i.material-icons keyboard_arrow_down
                







            #scroll_2
            .container-fluid(style="background: rgba(255,255,255,0.9);")
                section.timeline
                    .timeline-content.left(data-aos)
                        .content
                            h2 2015/06
                            p
                                span.font-weight-bold 臺中科技大學 
                                span.font-weight-bold.prepare-block 資訊管理系 
                                span 畢業
                    .timeline-content.right(data-aos)
                        .content
                            h2 2015/09
                            p
                                span.font-weight-bold 英創達網路有限公司 
                                span.prepare-block 前端網頁切版特效師
                    .timeline-content.left(data-aos)
                        .content
                            h2 2018/10
                            p
                                span.font-weight-bold 威德網頁設計 
                                span.prepare-block 前端網頁切版特效師
                    .timeline-content.right(data-aos)
                        .content
                            h2 2019/05
                            p
                                span.font-weight-bold 申樺有限公司 
                                span.prepare-block 前端網頁工程師
                    .timeline-content.left(data-aos)
                        .content
                            h2 2020/01
                            p
                                span.font-weight-bold 千樂軟體開發 
                                span.prepare-block 前端網頁工程師
                    .timeline-content.right(data-aos)
                        .content
                            h2 2021/01
                            p
                                span.font-weight-bold 九七科技有限公司 
                                span.prepare-block 前端網頁工程師


            
            
            .container
                section.banner
                    .title.mt-5.mb-5.px-sm-5.px-4.py-sm-3.py-2
                        h1.heading1.text
                            span.cn(data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom") 羅仕林 作品集
                            span.en(data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom") Eden's Portfolio
                        .lines(data-aos)
                            .line-top
                            .line-bottom
                            .line-left
                            .line-right
                    button.scrollToID(type="button" data-target="#scroll_3")
                        i.material-icons keyboard_arrow_down
                
            
            #scroll_3
            .container    
                section.lists
                    .row.align-items-stretch
                        mixin cards(company, src, href)
                            .list-item.col-sm-6.col-md-4.mb-4(data-aos="fade-up" data-aos-duration="800")
                                .card
                                    .card-pic.p-4.mb-2
                                        img.card-img-top(src= src, alt= company)
                                    .card-body.text-center
                                        h5.card-title= company
                                        a.btn.btn-primary.mt-2(href= href, target="_blank") Website

                        +cards('木頭人', '../../../upload/f2e/logo/logo.svg', 'https://chestnutcat.xsrv.jp/download/mtr/demo/site/')
                        +cards('葡萄王生技股份有限公司', '../../../upload/f2e/logo/logo1.png', 'http://html.e000427.youweb.tw/')
                        +cards('南俊國際股份有限公司', '../../../upload/f2e/logo/logo3.jpg', 'https://www.repongroup.com/tw/')
                        +cards('育達高職 時尚模特兒科', '../../../upload/f2e/logo/logo4.png', 'http://web3.yudah.tp.edu.tw/model')
                        +cards('育達高職 表演藝術科', '../../../upload/f2e/logo/logo4.png', 'http://web3.yudah.tp.edu.tw/art')
                        +cards('育達高職 餐飲管理科', '../../../upload/f2e/logo/logo4.png', 'http://web3.yudah.tp.edu.tw/rm')
                        +cards('久馨股份有限公司', '../../../upload/f2e/logo/logo2.png', 'http://www.long-new.com/tw/')
                        +cards('DCC 藥品商品化中心', '../../../upload/f2e/logo/logo5.png', 'http://www.biip-dcc.org/')
                        +cards('大洋製衣股份有限公司', '../../../upload/f2e/logo/logo6.png', 'http://www.aaady.com.tw/')
                        +cards('晟銘電子科技股份有限公司', '../../../upload/f2e/logo/logo7.jpg', 'http://www.uneec.com/')
                        +cards('布萊爾專業錄影團隊', '../../../upload/f2e/logo/logo8.jpg', 'http://blairsfilm.com/')
                        +cards('十八養場', '../../../upload/f2e/logo/logo9.png', 'https://www.18ranch.com.tw/')
                        +cards('全興國際水產股份有限公司', '../../../upload/f2e/logo/logo10.png', 'http://www.grobest.com/')
                button.scrollTop(type="button")
                    i.material-icons keyboard_arrow_up





                                
        // include script
        include ../include/_footer-js.pug