
 /**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@keyframes kenburns-top {
    0% {
       transform: scale(1) translateY(0);
       transform-origin: 50% 16%;
    }
    100% {
       transform: scale(1.15) translateY(-15px);
       transform-origin: top;
    }
}

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
 @keyframes slide-in-bck-center {
   0% {
     transform: translateZ(600px);
     opacity: 0;
   }
   100% {
     transform: translateZ(0);
     opacity: 1;
   }
 }
 



/**
 * ----------------------------------------
 * animation fade-down
 * ----------------------------------------
 */
 @keyframes fade-down {
   0% {
      transform: translateY(-20px);
      opacity: 1;
   }
   70% {
      transform: translateY(0);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 0;
   }
}

 /**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@keyframes fade-in-left {
   0% {
      transform: translateX(-50px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

 /**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@keyframes fade-in-right {
   0% {
      transform: translateX(50px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}
 

 /**
 * ----------------------------------------
 * animation scaling
 * ----------------------------------------
 */
@keyframes scaling {
   from {
      opacity: 0;
      transform: scale(0);
   }
   to {
      opacity: 1;
      transform: scale(1.0);
   }
}